
<!-- Bootstrap Datepicker CSS -->

{% load static %}








<!-- Modal -->
<div class="modal fade" id="modal_escola"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    
  <div class="modal-dialog w-100">
  <div class="modal-content bg-secondary-subtle">
      <div class="modal-header">
      <h4 class="modal-title  fs-6"><span class="text-uppercase ml-5 fs-3 "><i style="font-size: 1.65rem;" class="fs-4 fa-solid fa-users-gear"></i> {{titulo_page}}</span></h4>        
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body shadow-sm bg-light-subtle ">
            <ul class="nav nav-tabs"  id="myTab" role="tablist">
              {% if not matriculas  %}
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Escolha uma turma para coordenar <i class="fa-solid fa-people-roof bi fs-4"></i></button>
              </li>
              {% else %}
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><b class ='text-uppercase fs-3 pr-3'>{{matriculas.0.turma}}</b><i class="fa-solid fa-people-roof bi fs-4"></i></button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab2" data-bs-toggle="tab" data-bs-target="#profile-tab-pane2" type="button" role="tab" aria-controls="profile-tab-pane2" aria-selected="false"><i style="font-size: 1.65rem;" class="fs-4 fa-solid fa-users-gear"></i> Coodernar a turma do <b class='text-uppercase'> {{matriculas.0.turma}}</b></button>
              </li>               
              {% endif %}              
            </ul>

            <div class="tab-content border border-5  " id="myTabContent" >
              <div class="tab-pane fade show active bg-pale_green " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">   
                {% if not  matriculas  %}
                  <div class=' border-success border-bottom  bg-neutral_light mt-0  p-3 mb-3 '>
                    <h3 class='col-8'><i class="fa-solid fa-people-roof bi fs-4"></i> Todas as Turmas</h3>                
                  </div>
                  <table class='table table-striped w-75 m-auto bg-light table-sm shadow-sm '>
                    <thead>
                      <tr>
                        <th class='p-2 text-center'>ICON</th>
                        <th class='p-2 text-center'>Turma</th>
                        <th class='p-2 text-center'>Turno</th>
                        <th class='p-2 text-center'>Série</th> 
                        <th class='p-2 text-center'>Ano Letivo</th> 
                        <th class='p-2 text-center'>Ação</th> 
                      </tr>
                    </thead>
                    <tbody>
                      {% for n in turmas %}
                      <tr>
                        <td class='p-2 text-center'><a href='{% url "Gestao_Escolar:NotasAluno_one_create" n.pk %}'><i class="fa-duotone fa-circle-chevron-right"></i></a></td>                    
                        <td class='p-2 text-center'>{{n.nome}}</td>
                        <td class='p-2 text-center'>{{n.turno}}</td>
                        <td class='p-2 text-center'>{{n.serie}}</td>
                        <td class='p-2 text-center'>{{n.ano_letivo}}</td>
                        <td class='p-2 text-center'>                      
                          <a href='{% url "Gestao_Escolar:NotasAluno_one_create" n.pk %}' class='btn btn-sm btn-primary '>Coordenar essa turma: <b class='text-uppercase'>{{n.nome}}</b> <i class="ml-3  fa-duotone fa-circle-chevron-right fa-bounce" style="--fa-primary-color: #c565d2; --fa-secondary-color: #ffffff;"></i></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table> 
                  {% else %}
                  <!--INICIA AQUI A PARTE DA GESTÃO DE TURMA - Alunos matriculados na turma-->
                  <div class="row row-cols-4 p-2">
                    <div class="col">Alunos matriculados</div>
                    <div class="col">Periodo:</div>
                    <div class="col">Série:</div>
                    <div class="col">Quant. Alunos:</div>
                  </div>  
                  <div class="bg-light p-2 w-75 m-auto">           
                    <table class="table table-striped">
                      <thead>
                        <tr class="bg-secondary text-light mt-2">
                          <th class="text-center">Codigo</th>
                          <th class="text-center">Aluno</th>                        
                          <th class="text-center">Inep</th>
                          <th class="text-center">Data de Matricula</th>  
                        </tr>
                      </thead>
                      <tbody>                     
                        <tr>
                          <td class="text-center p-0">000</td>
                          <td class="text-center p-0">Belge de Oliveira couto</td>
                          <td class="text-center p-0">0202</td>
                          <td class="text-center p-0">05 de abril 2023</td>
                        </tr> 
                        <tr>
                          <td class="text-center p-0">000</td>
                          <td class="text-center p-0">Belge de Oliveira couto</td>
                          <td class="text-center p-0">0202</td>
                          <td class="text-center p-0">05 de abril 2023</td>
                        </tr> 
                                            
                      </tbody>
                    </table> 
                  </div>
                {% endif %}
            </div>

            <div class="tab-pane fade  pl-3 pr-3 pb-3 " id="profile-tab-pane2" role="tabpanel" aria-labelledby="profile-tab2" tabindex="0">     
              <!--Iniciar tabs verticais com opções dos professores-->
              <div class="row  pt-3 bg-dark-subtle w-100 ml-1">

                <div class="col-2">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Vinculados à escola</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Não Vinculados</button>
                    <!--<button class="nav-link" id="v-pills-messages-tab" data-toggle="pill" data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-toggle="pill" data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>-->
                  </div>
                </div>

                <div class="col-10">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                      
                      {% for n in matriculas %}                    
                      
                        <div class='d-flex'><h3>Aluno: {{ n.aluno }}</h3>
                        <ul>
                            {% for disciplina in TurmaDisciplina %}
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.aluno_matriculados }}
                                    {{ form.grade }}
                                    {{ form.trimestre }}                                    
                                    {{ form.notas }}
                                    <input type="submit" value="Enviar Notas">
                                </form>
                            {% endfor %}
                        </ul></div>
                        {% endfor %}
                    


                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      {% include "Escola/partials/partials_professores/context_people_exclude.html" %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
                </div>
              </div>
















          </div>      
      </div>        
  </div>
  {% include "Escola/partials/rodape_cauans/rodape_cauan.html" %}
  </div>
 
</div>




{% block script_head %}

<style>
  #id_aluno_matricula{
      display: none;
  }
</style>

{% endblock script_head %}  

{% block script_footer %}
<script>
  document.getElementById('id_tipo').addEventListener('change', function () {
      var tipoSelect = document.getElementById('id_tipo');
      var alunoMatricula = document.getElementById('id_aluno_matricula');
      var button_some = document.getElementById('button-some');
      var label_description = document.querySelector('label[for="id_description"]');
      var description = document.getElementById('id_description');

      if (tipoSelect.value === 'mudou_turma') {
          alunoMatricula.style.display = 'block';
          button_some.style.display = 'none';
          label_description.style.display = 'none';
          description.style.display = 'none';
      } else {
          alunoMatricula.style.display = 'none';
          button_some.style.display = 'block';
          label_description.style.display = 'block';
          description.style.display = 'block';
      }
  });
</script>

<link rel="stylesheet" href="{% static "multi-select/css/multi-select.css" %}">
<script src="{% static "multi-select/js/jquery.multi-select.js" %}"></script>
<script type="text/javascript">
// run pre selected options
$('#id_nome_profissao').multiSelect();
</script>

{% endblock script_footer %} 






<!-- Bootstrap Datepicker CSS -->




