{% load static %}
{% load meus_filtros %}
{% block script_head %}<link rel="stylesheet" href="{% static 'global/css/css3_tab.css' %}">



{% endblock script_head %} 
{% block script_footer %}{% endblock script_footer %} 

<div class="modal fade" id="modal_escola"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    
    <div class="modal-dialog w-100">
        <div class="modal-content bg-secondary-subtle p-5">
            {% include "Escola/partials/mensagens.html" %}
            
            <div class="modal-header w-100 d-flex border-bottom border-secondary">
            <div class='d-flex justify-content-between w-100'> 
                <div><h1><img src="{% static 'svg/grade_horario.svg' %}" alt=""> Horários do {{turma}}</h1></div>
                <div><a class='btn btn-primary mt-3' href="{% url 'Gestao_Escolar:NotasAluno_one_create' turma.pk %}">Gestão Turmas</a></div>                
            </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>
            <hr class="mb-0">           
            <table class="win11-table">
              <thead class='bg-p-3'>
                <tr>
                  <th>Período</th>
                  <th>Segunda</th>
                  <th>Terça</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for horario in horarios %}
                <tr>
                  <td>{{ horario.periodo }}</td>
                  <td>{{ horario.segunda }}</td>
                  <td>{{ horario.terca }}</td>
                  <td>{{ horario.quarta }}</td>
                  <td>{{ horario.quinta }}</td>
                  <td>{{ horario.sexta }}</td>
                  <td>
                    <!-- <a href="" class="btn btn-warning btn-sm">Editar</a>
                  Adicione um botão de excluir se necessário -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
            <h2 class="mt-5">{% if form.instance.pk %}Editar Horário{% else %}Criar Horário {{object}}{% endif %}</h2> 
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}           
            
            <form method="post" class="win11-form">
                {% csrf_token %}
                
                <!-- Exibindo mensagens de erro gerais -->
                {% for error in form.non_field_errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
    
                <table>
                    <thead>
                        <tr>
                            <th>Período</th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form, periodo_nome in forms_periodos %}
                            <tr>
                                <td>
                                    {{ periodo_nome }} {{ form.validade.errors }}
                                    <input type="hidden" name="{{ form.prefix }}-periodo" value="{{ form.prefix }}">
                                </td>
                                <td>
                                    {{ form.segunda }}
                                    {% for error in form.segunda.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ form.terca }}
                                    {% for error in form.terca.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ form.quarta }}
                                    {% for error in form.quarta.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ form.quinta }}
                                    {% for error in form.quinta.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ form.sexta }}
                                    {% for error in form.sexta.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ form.sabado }}
                                    {% for error in form.sabado.errors %}
                                        <div class="error">{{ error }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Salvar</button>
            </form>  
        </div>
    </div>
</div>