{% load static %}
<div class='d-flex justify-content-end'>
    <a href="{% url 'Gestao_Escolar:GE_Escola_alunos_update' object.pk %}" class="btn btn-sm btn-success m-1">Editar dados básicos</a>
    <a href="{% url 'Gestao_Escolar:GE_alunos_update_document' object.pk %}" class="btn btn-sm btn-primary m-1">Editar Documentação</a>
   
</div>
<div class="row">
    <div class="col-3 bg-secondary-subtle justify-content-center text-center p-4 ">       
        {% if object.sexo.nome == 'Masculino' %}
        <img src="{% static 'man.png' %}" class='object-fit-cover rounded-circle w-75'> 
        {% else %}       
        <img src="{% static 'woman.png' %}" class='object-fit-cover rounded-circle w-75'>
        {% endif %}
        <section class="p-3">
            <h1 class='text-capitalize fs-3 fw-bold fs-family-nunito'>{{object}}</h1>
            <aside>
                <div class="m-0 p-0 fs-7">{{object.related_matricula_alunos.first.turma}} {{object.related_matricula_alunos.first.turma.ano_letivo}}</div>
                <div class="m-0 p-0 fs-7"><span class="fw-bold">Gênero: </span>{{object.sexo.nome}}</div>
                <div class="m-0 p-0 fs-7"><span ><span class="fw-bold">Idade: </span>{{object.idade}} anos</span></div>
            </aside> 
        </section>
    </div>
    <div class="col">
        <h1>{{object.nome_completo}}</h1>
        <hr>
        <div class="m-2 w-75 m-auto">
            {% if object.sexo.nome == 'Masculino' %}
            <img src="{% static 'man.png' %}" class='object-fit-cover  w-75'> 
            {% else %}       
            <img src="{% static 'woman.png' %}" class='object-fit-cover w-75'>
            {% endif %}
        </div>
        <aside class="mt-1">
            <div><b class="fw-bold">Nome completo: </b><span class="text-uppercase">{{object.nome_completo}}</span></div>  
            {% if object.nome_social is not None %}
            <div><b class="fw-bold">Nome social: </b><span class="text-uppercase">{{object.nome_social}}</span></div>
            {% endif %}       
            <div><b class="fw-bold">Data de nascimento: </b><span class="text-uppercase me-5">{{object.data_nascimento}}</span>{{object.idade}} anos de idade</div>
            <div><b class="fw-bold">Nome da mãe: </b><span class="text-uppercase">{{object.nome_mae}}</span></div>
            {% if object.nome_pai is not None %}
            <div><b class="fw-bold">Nome da pai: </b><span class="text-uppercase">{{object.nome_pai}}</span></div>
            {% else %}
            <div><b class="fw-bold">Nome da pai: </b><span class="text-uppercase">Não declarado</span></div>
            {% endif %}
        </aside>
        <aside class="mt-2">
            <h2 class="border-bottom bottom-50">Documentação básica do aluno</h2>
            
            <div class="mx-5">
                <b class="fw-bold">RG: </b><span class="text-uppercase">{{object.nome_completo}}</span></div>  

        </aside>
    </div>
    

</div>